<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.codex.ventorapp">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:name=".foundatiion.BaseApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:usesCleartextTraffic="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.End"
        tools:ignore="UnusedAttribute"
        android:dataExtractionRules="@xml/data_extraction_rules">
        <activity
            android:name=".main.purchase.ui.ScanActivity"
            android:exported="false" />
        <activity
            android:name=".main.purchase.ui.CreatePurchaseOrderActivity"
            android:exported="false" />
        <activity
            android:name=".main.purchase.ui.PurchaseActivity"
            android:exported="false" />
        <activity
            android:name=".main.inventory_adjustment.ui.BarCodeScanActivity"
            android:exported="false" />
        <activity
            android:name=".main.onboarding.DatabaseChooseActivity"
            android:exported="false" />
        <activity
            android:name=".main.inventory_adjustment.ui.InventoryAdjustmentActivity"
            android:exported="false" />
        <activity
            android:name=".main.returns.ui.ReturnActivity"
            android:exported="false" />
        <activity
            android:name=".main.delivery.ui.DeliveryOrderActivity"
            android:exported="false" />
        <activity
            android:name=".main.receipt.ui.ReceiptActivity"
            android:exported="false" />
        <activity
            android:name=".main.ui.MainActivity"
            android:exported="true" />
        <activity
            android:name=".main.onboarding.OnBoardingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>